<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block button %}
Go Back
{% endblock %}
{% block logout %}
Logout
{% endblock %}
    {% block content %}
    <div align="center" style="word-spacing:50px; margin-top:20px">
        <form method="POST">
            {% csrf_token %}
            From: <input type="date" name="from_date">
            To: <input type="date" name="to_date">
            <button class="btn btn-info" type="submit" style="color:white"> Go </button>
        </form>
    </div>
    <div style="margin-top:10px; padding:2%">
        <div align="center" style="font-size:25px"> <div style="color:#036e42; float:left; margin-left:475px">Income</div>
            <div style="color:#b81445;float:left; margin-left:70px">Expense</div> <div style="float:left; margin-left:60px">Total</div> </div><br><br>

<!--    <h3 align="center" style="word-spacing:60px"> Income Expense Total</h3>-->
    <h3 align="center" style="word-spacing:80px"> {{ total_inc }} {{ total_exp }}  {{ total }} </h3>
        {% for message in messages%}
           <p align="center" style="color:#fa1b1b; margin-top:20px; font-size:20px" > {{ message }} </p>
        {% endfor %}

        <table class="table table-striped" style="padding:10px">
  <thead>
        <tr>
            <th> Date </th>
            <th> Salary </th>
            <th> Other Income </th>
            <th> Food </th>
            <th> Transport </th>
            <th> Apparel </th>
            <th> Education </th>
            <th> Grocery </th>
            <th> Health </th>
            <th> Other Expense </th>
        </tr>
        </thead>
  <tbody>
        {% for e in expenseForm %}
        <tr>
            <td> {{ e.Date }} </td>
            <td> {{ e.Salary }} </td>
            <td> {{ e.Other_Income }} </td>
            <td> {{ e.Food }} </td>
            <td> {{ e.Transport }} </td>
            <td> {{ e.Apparel}} </td>
            <td> {{ e.Education }} </td>
            <td> {{ e.Grocery }} </td>
            <td> {{ e.Health }} </td>
            <td> {{ e.Other_Expense }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
        {% endblock %}
</body>
</html>